body{
    --slack-color:#3f0f40;
    overflow: hidden;
}

.app__body {
    display: flex;
    height: 100vh;
}

.app__welcome{
    display: block;
    margin: 0 auto;
    padding-top: 10px;
}

.app__welcome > h1{
    font-size: 25px;
    padding-left: 100px;
}

.app__welcome > h1 >  span{
    font-size: 14px;
    font-weight: 700;
    color: gray;
    padding:1px;
}

.app__welcome > p{
    margin: 0 auto;
    font-size: 20px;
    font-weight: 500;
}

